@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  background: #030712;
  color: white;
  font-family: Inter, sans-serif;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background: #6366f1;
  border-radius: 999px;
}